<!DOCTYPE html>
<html>

  <head>
	 
	<script src="./scripts/jscii.js"></script>  
	<title>JSCII</title>
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheet/ascii.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>
	<script src="./scripts/ui.js"></script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74247650-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body ng-app="ascii" ng-controller="processor">
	  <header class="head">
		 <div style="display:inline-block;text-align:center;">
			 
			  <span style="float:left">Convert any image into text (ascii)</span>
		  <p style="margin:0"> adapted from : <a href="https://github.com/EnotionZ/jscii" target="_self">jscii</a></p> 
			 
		  </div>
		  
	  </header>
    
    <div class="section">
      
      <div class="header">
      </div>
      
      
      <div class="shot">
        
			<div class="inputSection">
				
				<div id="dropArea" onclick="dropClick()" custom-on-change="process(currentFile)" drop-target="true">
				   <p>Click to input image  (png/jpg only)</p>
				   <input style="display:none" type="file" accept="image/*" ng-model="currentFile"
						  custom-on-change="process(currentFile)" change="true"/>

					<img id="original" class="inputImg" />

					<div class="sizeHandler" ng-show="hasLoaded">

						<div class="inline" >
							<button class="resizeBtn basic-button" ng-click="$event.stopPropagation();resize(.5)" ng-checked="currentSize == .5">1/2</button>

						</div>

						<div class="inline">

							<button class="resizeBtn basic-button" ng-click="$event.stopPropagation();resize(2)" ng-checked="currentSize == 2">2</button> 

						</div>

						<button ng-click="$event.stopPropagation();render();" class="render basic-button">render</button>


					</div>



				</div>

				<div class="urlFetch" >
					<p style="margin:3px 0"> or load from URL</p>

					<input type="text" ng-model="imgURL" ng-click="$event.stopPropagation()"/>
					<button ng-click="$event.stopPropagation();loadFromURL(imgURL);" class="accept basic-button">get image</button>
				</div>
			
			
		  </div>
		  
      </div>
      
    </div>
    
    
    <div class="section">
      
      <div class="header">
		  <i class="fa fa-arrow-down"></i> <span> Output</span>
		  
	   <button id="copy"  clippy data-clipboard-target="{{active == 'static'? '#out' : '#editor'}}" class="basic-button" ng-show="hasRendered"><i class="fa fa-clipboard"></i> copy</button>	
		 
		  <button  id="editBtn" class="basic-button" ng-show="hasRendered" ng-click="active == 'static'? active = 'editor' : active = 'static'"><i class="fa fa-paperclip"></i> {{active == 'static'? 'edit' : 'static'}}</button>
		  
      </div>
      
      
      <div class="shot">
        
        <div style="display:inline-block">
			
			<pre id="out" ng-show="active =='static'" img-art>
				
			</pre>
			
			<textarea id="editor" ng-show="active =='editor'" ng-model="text">
          				{{text}}
        	</textarea>
			
			
		</div>
        
      </div>
      
    </div>
    
    
  </body>

</html>